In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shaikh\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\shaikh\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\shaikh\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shaikh\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shaikh\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\shaikh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\shaikh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shaikh\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shaikh\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shaikh\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [6]:
pip install --upgrade selenium

Requirement already satisfied: selenium in c:\users\shaikh\anaconda3\lib\site-packages (4.10.0)Note: you may need to restart the kernel to use updated packages.

Collecting selenium
  Obtaining dependency information for selenium from https://files.pythonhosted.org/packages/10/56/8288d1813a68c1e0638515dbb777fce6d87d0d240e683216f956145310e6/selenium-4.11.2-py3-none-any.whl.metadata
  Downloading selenium-4.11.2-py3-none-any.whl.metadata (7.0 kB)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\shaikh\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\shaikh\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shaikh\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shaikh\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\shaikh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\shaikh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shaikh\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shaikh\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shaikh\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Downloading selenium-4.11.2-py3-none-any.whl (7.2 MB)
   ---------------------------------------- 0.0/7.2 MB ? eta -:--:--
   ---------------------------------------- 0.1/7.2 MB 4.8 MB/s eta 0:00:02
   ---------------------------------------- 0.1/7.2 MB 4.8 MB/s eta 0:00:02
   ---------------------------------------- 0.1/7.2 MB 4.8 MB/s eta 0:00:02
   ---------------------------------------- 0.1/7.2 MB 4.8 MB/s eta 0:00:02
    --------------------------------------- 0.1/7.2 MB 655.8 kB/s eta 0:00:11
    --------------------------------------- 0.2/7.2 MB 655.4 kB/s eta 0:00:11
   - -------------------------------------- 0.3/7.2 MB 830.3 kB/s eta 0:00:09
   - -------------------------------------- 0.4/7.2 MB 1.0 MB/s eta 0:00:07
   -- ------------------------------------- 0.5/7.2 MB 1.2 MB/s eta 0:00:06
   --- ------------------------------------ 0.6/7.2 MB 1.4 MB/s eta 0:00:05
   ---- ----------------------------------- 0.8/7.2 MB 1.5 MB/s eta 0:00:05
   ----- ---------------------------------- 0.9/7.2 MB 1.7 MB/s eta 0:00:04
   ----- ---------------------------------- 1.0/7.2 MB 1.8 MB/s eta 0:00:04
   ------ --------------------------------- 1.2/7.2 MB 1.9 MB/s eta 0:00:04
   ------- -------------------------------- 1.3/7.2 MB 1.9 MB/s eta 0:00:04
   ------- -------------------------------- 1.3/7.2 MB 1.8 MB/s eta 0:00:04
   -------- ------------------------------- 1.5/7.2 MB 1.9 MB/s eta 0:00:03
   --------- ------------------------------ 1.6/7.2 MB 2.0 MB/s eta 0:00:03
   ---------- ----------------------------- 1.8/7.2 MB 2.1 MB/s eta 0:00:03
   ---------- ----------------------------- 1.9/7.2 MB 2.1 MB/s eta 0:00:03
   ----------- ---------------------------- 2.1/7.2 MB 2.2 MB/s eta 0:00:03
   ------------ --------------------------- 2.3/7.2 MB 2.3 MB/s eta 0:00:03
   ------------- -------------------------- 2.4/7.2 MB 2.3 MB/s eta 0:00:03
   -------------- ------------------------- 2.6/7.2 MB 2.4 MB/s eta 0:00:02
   -------------- ------------------------- 2.6/7.2 MB 2.3 MB/s eta 0:00:02
   -------------- ------------------------- 2.6/7.2 MB 2.2 MB/s eta 0:00:03
   --------------- ------------------------ 2.7/7.2 MB 2.2 MB/s eta 0:00:03
   --------------- ------------------------ 2.9/7.2 MB 2.2 MB/s eta 0:00:02
   ---------------- ----------------------- 3.0/7.2 MB 2.2 MB/s eta 0:00:02
   ---------------- ----------------------- 3.0/7.2 MB 2.2 MB/s eta 0:00:02
   ---------------- ----------------------- 3.0/7.2 MB 2.2 MB/s eta 0:00:02
   ---------------- ----------------------- 3.0/7.2 MB 2.2 MB/s eta 0:00:02
   ----------------- ---------------------- 3.1/7.2 MB 2.0 MB/s eta 0:00:03
   ------------------ --------------------- 3.3/7.2 MB 2.1 MB/s eta 0:00:02
   ------------------ --------------------- 3.4/7.2 MB 2.1 MB/s eta 0:00:02
   ------------------- -------------------- 3.6/7.2 MB 2.1 MB/s eta 0:00:02
   -------------------- ------------------- 3.7/7.2 MB 2.2 MB/s eta 0:00:02
   --------------------- ------------------ 3.9/7.2 MB 2.2 MB/s eta 0:00:02
   ---------------------- ----------------- 4.0/7.2 MB 2.2 MB/s eta 0:00:02
   ----------------------- ---------------- 4.3/7.2 MB 2.3 MB/s eta 0:00:02
   ------------------------ --------------- 4.5/7.2 MB 2.4 MB/s eta 0:00:02
   ------------------------- -------------- 4.6/7.2 MB 2.4 MB/s eta 0:00:02
   --------------------------- ------------ 4.9/7.2 MB 2.5 MB/s eta 0:00:01
   ---------------------------- ----------- 5.1/7.2 MB 2.5 MB/s eta 0:00:01
   ----------------------------- ---------- 5.4/7.2 MB 2.6 MB/s eta 0:00:01
   ------------------------------- -------- 5.6/7.2 MB 2.6 MB/s eta 0:00:01
   ------------------------------- -------- 5.7/7.2 MB 2.7 MB/s eta 0:00:01
   -------------------------------- ------- 5.9/7.2 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 6.1/7.2 MB 2.7 MB/s eta 0:00:01
   ----------------------------------- ---- 6.4/7.2 MB 2.8 MB/s eta 0:00:01
   ------------------------------------- -- 6.7/7.2 MB 2.8 MB/s eta 0:00:01
   -------------------------------------- - 6.9/7.2 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  7.0/7.2 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  7.2/7.2 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  7.2/7.2 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  7.2/7.2 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  7.2/7.2 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  7.2/7.2 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 7.2/7.2 MB 2.7 MB/s eta 0:00:00
Installing collected packages: selenium
  Attempting uninstall: selenium
    Found existing installation: selenium 4.10.0
    Uninstalling selenium-4.10.0:
      Successfully uninstalled selenium-4.10.0
Successfully installed selenium-4.11.2

In [32]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\shaikh\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\users\shaikh\anaconda3\lib\site-packages (from webdriver-manager) (2.31.0)
Requirement already satisfied: python-dotenv in c:\users\shaikh\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: tqdm in c:\users\shaikh\anaconda3\lib\site-packages (from webdriver-manager) (4.65.0)
Requirement already satisfied: packaging in c:\users\shaikh\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shaikh\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shaikh\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\shaikh\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shaikh\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.7.22)
Requirement already satisfied: colorama in c:\users\shaikh\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.6)

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:

In [17]:
#let's import required libraries
import selenium                             #library that is used to work with selenium
from selenium import webdriver              #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By #importing inbulit class By
import warnings                             #To ignore any sort of warnings  
warnings.filterwarnings('ignore')
import time                                 #use to stop search engine for few seconds
import pandas as pd
from bs4 import BeautifulSoup
import requests
#for handling the exceptions while scrapping
from selenium.common.exceptions import NoSuchElementException,TimeoutException
from selenium.webdriver.support import expected_conditions as EC

In [18]:
#open automated wikipedia driver page
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [51]:
rank_list1 = []
name_list = []
artist_list = []
upload_date_list = []
views_list = []

rank=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
for i in rank:
    rank_list1.append(i.text)
    
name=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
for i in name:
    name_list.append(i.text)


artist=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
for i in artist:
    artist_list.append(i.text)

date=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
for i in date:
    upload_date_list.append(i.text)
    
views=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
for i in views:
    views_list.append(i.text)

In [52]:
print(len(rank_list1),len(name_list),len(artist_list),len(upload_date_list),len(views_list))

30 30 30 30 30

In [53]:
df1=pd.DataFrame({"Rank":rank_list1,"Name":name_list,"Artist":artist_list,"Upload Date":upload_date_list,"Views":views_list})
df1

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - children's songs,"June 17, 2016",13.18
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.23
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - nursery rhymes,"October 8, 2016",6.76
3,4.,"""Bath Song""[17]",Cocomelon - nursery rhymes,"May 2, 2018",6.33
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.05
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",5.98
6,7.,"""Wheels on the Bus""[26]",Cocomelon - nursery rhymes,"May 24, 2018",5.46
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV - children's songs,"March 6, 2014",5.42
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.00
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV - children's songs,"February 27, 2018",4.94
10,11.,"""Gangnam Style""[30]",Psy,"July 15, 2012",4.86
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies - children's songs,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[36]",El Chombo,"April 5, 2018",4.41
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.00
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.91
15,16.,"""Roar""[39]",Katy Perry,"September 5, 2013",3.84
16,17.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.84
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - nursery rhymes,"June 25, 2018",3.73
18,19.,"""Sorry""[42]",Justin Bieber,"October 22, 2015",3.69
19,20.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.68
20,21.,"""Thinking Out Loud""[44]",Ed Sheeran,"October 7, 2014",3.63
21,22.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.63
22,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.56
23,24.,"""Perfect""[47]",Ed Sheeran,"November 9, 2017",3.51
24,25.,"""Faded""[48]",Alan Walker,"December 3, 2015",3.49
25,26.,"""Let Her Go""[49]",Passenger,"July 25, 2012",3.48
26,27.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi - children's songs,"January 26, 2018",3.51
27,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.45
28,29.,"""Bailando""[52]",Enrique Iglesias,"April 11, 2014",3.43
29,30.,"""Lean On""[53]",Major Lazer,"March 22, 2015",3.43

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

In [30]:
#let's import required libraries
import selenium                             #library that is used to work with selenium
from selenium import webdriver              #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By #importing inbulit class By
import warnings                             #To ignore any sort of warnings  
warnings.filterwarnings('ignore')
import time                                 #use to stop search engine for few seconds
import pandas as pd
from bs4 import BeautifulSoup
import requests
#for handling the exceptions while scrapping
from selenium.common.exceptions import NoSuchElementException,TimeoutException
from selenium.webdriver.support import expected_conditions as EC

In [31]:
#open automated wikipedia driver page
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/.")

In [32]:

international_element=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international_element.click()

In [35]:
#scraping the details 
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

match_title=driver.find_elements(By.XPATH,'//*[@class="match-card ng-scope"]/div[3]/div/span[1]')
for i in match_title:
    Match_title.append(i.text)
    
series=driver.find_elements(By.XPATH,'//*[@class="match-card ng-scope"]/div[1]/h5')
for i in series:
    Series.append(i.text)
    
place=driver.find_elements(By.XPATH,'//*[@class="match-card ng-scope"]/div[3]/div/span[2]')
for i in place:
    Place.append(i.text)
    
date=driver.find_elements(By.XPATH,'//*[@class="match-card ng-scope"]/div[1]/div/div[1]')
for i in date:
    Date.append(i.text)
    
time=driver.find_elements(By.XPATH,'//*[@class="match-card ng-scope"]/div[1]/div/div[2]')
for i in time:
    Time.append(i.text)

In [36]:
print(len(Match_title),len(Series),len(Place),len(Date),len(Time))

8 8 8 8 8

In [38]:
df2=pd.DataFrame({"Match title":Match_title,"Series":Series,"Place":Place,"Date":Date,"Time":Time})
df2

,Match title,Series,Place,Date,Time
0,1st T20I -,INDIA TOUR OF IRELAND 2023,"The Village,",18 AUG 2023,7:30 PM IST
1,2nd T20I -,INDIA TOUR OF IRELAND 2023,"The Village,",20 AUG 2023,7:30 PM IST
2,3rd T20I -,INDIA TOUR OF IRELAND 2023,"The Village,",23 AUG 2023,7:30 PM IST
3,1st ODI -,ASIA CUP 2023,"Pallekele International Cricket Stadium,",2 SEP 2023,10:00 AM IST
4,2nd ODI -,ASIA CUP 2023,"Pallekele International Cricket Stadium,",4 SEP 2023,10:00 AM IST
5,1st ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Punjab Cricket Association IS Bindra Stadium,",22 SEP 2023,1:30 PM IST
6,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Holkar Cricket Stadium,",24 SEP 2023,1:30 PM IST
7,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023-24,"Saurashtra Cricket Association Stadium,",27 SEP 2023,1:30 PM IST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

In [54]:
#let's import required libraries
import selenium                             #library that is used to work with selenium
from selenium import webdriver              #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By #importing inbulit class By
import warnings                             #To ignore any sort of warnings  
warnings.filterwarnings('ignore')
import time                                 #use to stop search engine for few seconds
import pandas as pd
from bs4 import BeautifulSoup
import requests
#for handling the exceptions while scrapping
from selenium.common.exceptions import NoSuchElementException,TimeoutException
from selenium.webdriver.support import expected_conditions as EC

In [55]:
#opening the automated page of the website
driver=webdriver.Chrome()
driver.get("http://statisticstimes.com/")

In [56]:
#Opening the economy page of the website
economy=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')
economy.click()

#for finding the element by hover on 
India=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')
India.click()

#clicking of the GDP states
GDP=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP.click()

In [62]:
#Scrapping the details of the page
Rank=[]
State=[]
GSDP_18_19_current=[]
GSDP_19_20_current=[]
share_18_19=[]
GDP=[]

rank_element=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
for i in rank_element:
    Rank.append(i.text)
    
state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
for i in state:
    State.append(i.text)
    
gsdp_18_19_current=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
for i in gsdp_18_19_current:
    GSDP_18_19_current.append(i.text)
    
gsdp_19_20=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
for i in gsdp_19_20:
    GSDP_19_20_current.append(i.text)
    
share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    share_18_19.append(i.text)
    
gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdp:
    GDP.append(i.text)

In [63]:
print(len(Rank),len(State),len(GSDP_18_19_current),len(GSDP_19_20_current),len(share_18_19),len(GDP))

33 33 33 33 33 33

In [64]:
df3=pd.DataFrame({"Rank":Rank,"State":State,"GSDP_18_19_current":GSDP_18_19_current,"GSDP_19_20_current":GSDP_19_20_current,"share_18_19":share_18_19,"GDP":GDP})
df3

,Rank,State,GSDP_18_19_current,GSDP_19_20_current,share_18_19,GDP
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

In [ ]:
#let's import required libraries
import selenium                             #library that is used to work with selenium
from selenium import webdriver              #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By #importing inbulit class By
import warnings                             #To ignore any sort of warnings  
warnings.filterwarnings('ignore')
import time                                 #use to stop search engine for few seconds
import pandas as pd
from bs4 import BeautifulSoup
import requests
#for handling the exceptions while scrapping
from selenium.common.exceptions import NoSuchElementException,TimeoutException
from selenium.webdriver.support import expected_conditions as EC

In [75]:
#opening the automated page 
driver=webdriver.Chrome()
driver.get('https://github.com/')

#finding the element by Hover on
open_source_hover=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')

#creating the Actionchains instance
actions=ActionChains(driver)
# Move the cursor to the hover element
actions.move_to_element(open_source_hover).perform()

#after hover on open source then clicking on repositories
repo_trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
repo_trending.click()

In [76]:
#scrapping all repositories URL
repository_url=[]
url=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in url:
    repository_url.append(i.get_attribute("href"))

In [73]:
len(repository_url)

25

In [94]:

Repository_title=[]
Repository_description=[]
Countributors_count=[]
Language_used=[]

repository=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in repository:
    Repository_title.append(i.text.split('/')[1])
    
description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description:
    Repository_description.append(i.text)

In [95]:
print(len(Repository_title),len(Repository_title))

25 25

In [102]:
df4=pd.DataFrame({"Repository title":Repository_title,"Repository Description":Repository_description})
df4

,Repository title,Repository Description
0,llama-gpt,"A self-hosted, offline, ChatGPT-like chatbot. ..."
1,CoDeF,Official PyTorch implementation of CoDeF: Cont...
2,stable-diffusion.cpp,Stable Diffusion in pure C/C++
3,Python-100-Days,Python - 100天从新手到大师
4,VPet,"虚拟桌宠模拟器 一个开源的桌宠软件, 可以内置到任何WPF应用程序"
5,DevOpsGPT,Multi agent system for AI-driven software deve...
6,cal.com,Scheduling infrastructure for absolutely every...
7,Grasscutter,A server software reimplementation for a certa...
8,awesome-python,"A curated list of awesome Python frameworks, l..."
9,OldTweetDeck,"Returns old TweetDeck, for free!"
10,serde,Serialization framework for Rust
11,biomes-game,Biomes is an open source sandbox MMORPG built ...
12,AnimatedDrawings,"Code to accompany ""A Method for Animating Chil..."
13,dio-lab-open-source,Repositório do lab Contribuindo em um Projeto ...
14,documenso,The Open Source DocuSign Alternative.
15,Bringing-Old-Photos-Back-to-Life,Bringing Old Photo Back to Life (CVPR 2020 oral)
16,organicmaps,🍃 Organic Maps is a free Android & iOS offline...
17,OpenBBTerminal,"Investment Research for Everyone, Everywhere."
18,free-programming-books,📚 Freely available programming books
19,GodMode,"AI Chat Browser: Fast, Full webapp access to C..."
20,GPT-vup,GPT-vup BIliBili | 抖音 | AI | 虚拟主播
21,awesome-english-ebooks,"经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi..."
22,supervision,We write your reusable computer vision tools. 💜
23,aseprite,Animated sprite editor & pixel art tool (Windo...
24,quivr,🧠 Your Second Brain supercharged by Generative...

In [98]:
for url in repository_url: #loop for every repository in list
    driver.get(url)
    time.sleep(10) 
    
    try:
        Language=WebDriverWait(driver,10).until(EC.visibility_of_element_located((By.XPATH,'//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[4]/div/ul/li[1]/a/span[1]')))
        Language_used.append(Language.text)
    except (TimeoutException,NoSuchElementException):
        Language_used.append("-") 
    
    try:
        contributors=WebDriverWait(driver,10).until(EC.visibility_of_element_located((By.XPATH,'//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div[3]/div/h2/a/span')))
        Countributors_count.append(contributors.text)
    except (TimeoutException,NoSuchElementException):
        Countributors_count.append("-")

In [99]:
print(len(Repository_title),len(Repository_title),len(Language_used),len(Countributors_count))

25 25 26 26

In [101]:
print((Language_used),(Countributors_count))

['TypeScript', 'TypeScript', '-', '-', '-', '@LorisYounger\n/ VPet.Plugin.Demo', '-', '-', '-', 'Python', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '@ftdebugger\n/ whole-npm', '-', '-', '-', '-', 'quivr'] ['4', '4', '-', '-', '-', '-', '-', '830', '-', '401', '-', '619k', '-', '-', '-', '-', '-', '-', '17', '7', '-', '-', '-', '-', '-', '-']

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/

In [1]:
#lets import required libraries
import selenium                             #library that is used to work with selenium
from selenium import webdriver              #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By #importing inbuilt class By
import warnings
warnings.filterwarnings('ignore')
import time                                 #use to stop search engine for few seconds
import pandas as pd
from bs4 import BeautifulSoup
import requests
#for handling the exceptions while scrapping
from selenium.common.exceptions import NoSuchElementException,TimeoutException
from selenium.webdriver.support import expected_conditions as EC

In [5]:
#opening the automated page
driver=webdriver.Chrome()
driver.get("http://www.billboard.com/")
time.sleep(10)

In [7]:
#for clicking on the charts
charts_tags=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts_tags.click()

open_chart=driver.find_element(By.XPATH,'//div[@class="lrv-u-flex lrv-u-justify-content-center"]/a')
open_chart.click()

In [9]:
#scrapping the details 

Song_Name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

Name=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[1]/h3')
for i in Name:
    Song_Name.append(i.text)
    
artist=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[1]/span')
for i in artist:
    Artist_name.append(i.text)
    
lastrank=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[4]/span')
for i in lastrank:
    Last_week_rank.append(i.text)
    
peakrank=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[5]/span')
for i in peakrank:
    Peak_rank.append(i.text)
    
weekboard=driver.find_elements(By.XPATH,'//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li[4]/ul/li[6]/span')
for i in weekboard:
    Weeks_on_board.append(i.text)

In [10]:
print(len(Song_Name),len(Artist_name),len(Last_week_rank),len(Peak_rank),len(Weeks_on_board))

100 100 100 100 100

In [11]:
df5=pd.DataFrame({"Song Name":Song_Name,"Artist Name":Artist_name,"Last Week Rank":Last_week_rank,"Peak Rank":Peak_rank,"Weeks On Board":Weeks_on_board})
df5

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Last Night,Morgan Wallen,1,1,28
1,Fast Car,Luke Combs,2,2,20
2,Cruel Summer,Taylor Swift,4,3,14
3,Calm Down,Rema & Selena Gomez,6,3,49
4,Fukumean,Gunna,7,4,8
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,6
96,Overdrive,Post Malone,68,47,3
97,"Bzrp Music Sessions, Vol. 55",Bizarrap & Peso Pluma,99,31,10
98,Dawns,Zach Bryan Featuring Maggie Rogers,-,42,15
99,Rubicon,Peso Pluma,-,63,6

# 6. Scrape the details of Highest selling novels.

In [34]:
#lets import required libraries
import selenium                             #library that is used to work with selenium
from selenium import webdriver              #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By #importing inbuilt class By
import warnings
warnings.filterwarnings('ignore')
import time                                 #use to stop search engine for few seconds
import pandas as pd
from bs4 import BeautifulSoup
import requests
#for handling the exceptions while scrapping
from selenium.common.exceptions import NoSuchElementException,TimeoutException
from selenium.webdriver.support import expected_conditions as EC

In [35]:
#opening the automeated webpage
driver=webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [37]:
#scrapping the required details
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

#Scrapping the name of the book
name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in name:
    Book_name.append(i.text)
    
#Scrapping the name of the Author    
author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    Author_name.append(i.text)
    
#Scrapping the Volumme solds 
volume=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volume:
    Volumes_sold.append(i.text)
    
#Scrapping the Publisher name
publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher:
    Publisher.append(i.text)
    
#Scrapping the Genre
genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    Genre.append(i.text)

In [38]:
print(len(Book_name),len(Author_name),len(Volumes_sold),len(Publisher),len(Genre))

100 100 100 100 100

In [40]:
df6=pd.DataFrame({"Book Name":Book_name,"Author Name":Author_name,"Volumes Sold":Volumes_sold,"Publisher Name":Publisher,"Genre of Book":Genre})
df6

,Book Name,Author Name,Volumes Sold,Publisher Name,Genre of Book
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

In [12]:
#lets import required libraries
import selenium                             #library that is used to work with selenium
from selenium import webdriver              #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By #importing inbuilt class By
import warnings
warnings.filterwarnings('ignore')
import time                                 #use to stop search engine for few seconds
import pandas as pd
from bs4 import BeautifulSoup
import requests
#for handling the exceptions while scrapping
from selenium.common.exceptions import NoSuchElementException,TimeoutException
from selenium.webdriver.support import expected_conditions as EC

In [13]:
#opening the automated page from the driver
driver=webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls095964455/")

In [16]:
#scrapping the required details 

Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

#Scrapping the name of the Series
name=driver.find_elements(By.XPATH,'//*[@class="lister-item-content"]/h3/a')
for i in name:
    Name.append(i.text)
#Scrapping the span of the series    
span=driver.find_elements(By.XPATH,'//*[@class="lister-item-content"]/h3/span[2]')
for i in span:
    Year_span.append(i.text)

#Scrapping the genre of the series    
genre=driver.find_elements(By.XPATH,'//*[@class="lister-item-content"]/p[1]/span[5]')
for i in genre:
    Genre.append(i.text)

#Scrapping the runtime of the Series    
runtime=driver.find_elements(By.XPATH,'//*[@class="lister-item-content"]/p[1]/span[3]')
for i in runtime:
    Run_time.append(i.text)

#Scrapping the rating of the Series    
rating=driver.find_elements(By.XPATH,'//*[@class="lister-item-content"]/div[1]/div[1]/span[2]')
for i in rating:
    Ratings.append(i.text)

#Scrapping the Votes for the series    
vote=driver.find_elements(By.XPATH,'//*[@class="lister-item-content"]/p[4]/span[2]')
for i in vote:
    Votes.append(i.text)

In [17]:
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [18]:
df7=pd.DataFrame({"Name of the Series":Name,"Year Span":Year_span,"Genre":Genre,"Run time":Run_time,"Ratings":Ratings,"Votes":Votes})
df7

,Name of the Series,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,194,104"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,267,722"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,041,432"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"306,099"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"265,173"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"52,469"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"64,490"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"210,185"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,705"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"263,859"

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

In [20]:
#lets import required libraries
import selenium                             #library that is used to work with selenium
from selenium import webdriver              #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.by import By #importing inbuilt class By
import warnings
warnings.filterwarnings('ignore')
import time                                 #use to stop search engine for few seconds
import pandas as pd
from bs4 import BeautifulSoup
import requests
#for handling the exceptions while scrapping
from selenium.common.exceptions import NoSuchElementException,TimeoutException
from selenium.webdriver.support import expected_conditions as EC

In [25]:
#opening the automated page from the driver
driver=webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

#clicking on the button on the homepage for viewing all datasets
dataset_button=driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
dataset_button.click()

#clicking on the expand all button to view all details for scrapping
expandall_button=driver.find_element(By.XPATH,'//span[@class="swap-on text-primary-content"]')
expandall_button.click()

In [27]:
#scrapping the details of the page required

Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
NO_of_attribute=[]
Year=[]

#scraping the dataset name
dataset=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/h2/a')
for i in dataset:
    Dataset_name.append(i.text)

#scrapping the Data type    
data_type=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[2]/span')
for i in data_type:
    Data_type.append(i.text)
    
#scrapping the task    
task=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[1]/span')
for i in task:
    Task.append(i.text)
    
#scrapping the Attribute type    
attribute=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]')
for i in attribute:
    Attribute_type.append(i.text)
    
#Scrapping the No of instances   
instances=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[3]/span')
for i in instances:
    No_of_instances.append(i.text)
    
#scrapping the No of Attributes    
No_attribute=driver.find_elements(By.XPATH,'//div[@class="relative col-span-8 sm:col-span-7"]/div/div[4]/span')
for i in No_attribute:
    NO_of_attribute.append(i.text)

#scrapping the year of the dataset    
year_of_dataset=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')
for i in year_of_dataset:
    Year.append(i.text)

In [28]:
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(NO_of_attribute),len(Year))

10 10 10 10 10 10 10

In [29]:
df8=pd.DataFrame({"Dataset Name":Dataset_name,"Data Type":Data_type,"Task":Task,"Attribute Type":Attribute_type,"NO of Instances":No_of_instances,"NO of Attributes":NO_of_attribute,"Year":Year})
df8

,Dataset Name,Data Type,Task,Attribute Type,NO of Instances,NO of Attributes,Year
0,Iris,Multivariate,Classification,Real,150 Instances,4 Attributes,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Attributes,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Attributes,5/1/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Attributes,9/14/2020
4,Diabetes,,,"Categorical, Integer",,20 Attributes,N/A
5,Wine,Multivariate,Classification,"Integer, Real",178 Instances,13 Attributes,7/1/1991
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Attributes,11/1/1995
7,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Attributes,6/1/1997
8,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,8 Attributes,10/6/2019
9,Mushroom,Multivariate,Classification,Categorical,8.12K Instances,22 Attributes,4/27/1987