In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\shaikh\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\shaikh\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\shaikh\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\shaikh\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shaikh\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shaikh\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\shaikh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\shaikh\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shaikh\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\shaikh\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\shaikh\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\shaikh\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\users\shaikh\anaconda3\lib\site-packages (from webdriver-manager) (2.29.0)
Requirement already satisfied: python-dotenv in c:\users\shaikh\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: tqdm in c:\users\shaikh\anaconda3\lib\site-packages (from webdriver-manager) (4.65.0)
Requirement already satisfied: packaging in c:\users\shaikh\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shaikh\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shaikh\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shaikh\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shaikh\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.5.7)
Requirement already satisfied: colorama in c:\users\shaikh\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.6)

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\shaikh\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\shaikh\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shaikh\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\shaikh\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\shaikh\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# Q1: Write a python program to scrape data for ‚ÄúData Analyst‚Äù Job position in ‚ÄúBangalore‚Äù location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [5]:
import selenium

In [6]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By 
import time
from selenium.webdriver.chrome.service import Service

In [18]:
#lets first connect to the driver
driver = webdriver.Chrome()

In [45]:
#Opening the naukri page on the automated chrome browser
driver.get("https://www.naukri.com/")

In [46]:
#Entering the designaiion
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [47]:
#Entering the Location
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [48]:
#Searching for the query
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [49]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [50]:
#scrapping Job title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scrapping job location
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scrapping company name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scrapping experience required
exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [52]:
#Printing the length of the titles

print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [56]:
# Creating Dataframe using Pandas
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_Name':company_name,'Experience':experience_required})
df

,Title,Location,Company_Name,Experience
0,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
1,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
2,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
3,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synechron,5-8 Yrs
4,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synchron Infotech,5-8 Yrs
5,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
6,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs
8,Data Analyst,Bangalore/Bengaluru,Paychex It Solutions,3-8 Yrs
9,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Truthfools,3-8 Yrs

# Q2: Write a python program to scrape data for ‚ÄúData Scientist‚Äù Job position in ‚ÄúBangalore‚Äù location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [7]:
# Let's import all required libraries
import selenium                                  #library that is used to work with selenium
from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window
import pandas as pd                              #to create DataFrame
from selenium.webdriver.common.by import By      #importing inbuilt class By 
import warnings                                  #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time                                      #use to stop search engine for few seconds

driver = webdriver.Chrome()

In [24]:
#Opening the naukri page on the automated chrome browser
driver.get("https://www.naukri.com/")

In [25]:
#entering the designation and location
designation2=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation2.send_keys("Data Scientist")

location2=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/div[1]/div/input")
location2.send_keys("Bangalore")

In [26]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [27]:
Job_title=[]
Job_location=[]
Company_name=[]
Experience_required=[]

In [28]:
#scraping the Job title from the page
title1_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title1_tags[0:10]:
    title=i.text
    Job_title.append(title)
    
#scrapping Job location   
location1_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location1_tags[0:10]:
    loc=i.text
    Job_location.append(loc)

#scrapping Company Name    
company1_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company1_tags[0:10]:
    company=i.text
    Company_name.append(company)
    
#scrapping Experience required
exp1_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp1_tags[0:10]:
    experience=i.text
    Experience_required.append(experience)

In [29]:
#Printing the length of the titles

print(len(Job_title),len(Job_location),len(Company_name),len(Experience_required))

10 10 10 10

In [31]:
#Creating dataframe from pandas
df1=pd.DataFrame({"Title":Job_title,"Job location":Job_location,"Company Name":Company_name,"Experience":Experience_required})
df1

,Title,Job location,Company Name,Experience
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC,3-6 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,"Data Scientist -ML, DL, Python",Bangalore/Bengaluru,Capco,2-6 Yrs
4,DATA SCIENTIST,Bangalore/Bengaluru,Walmart,4-8 Yrs
5,Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Noid...",HCLTech,7-12 Yrs
6,ACN - Applied Intelligence - Finance - Data Sc...,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Accenture,2-7 Yrs
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics,5-10 Yrs
8,Sr . Data Scientist / Manager,"Bangalore/Bengaluru, Noida, Gurgaon/Gurugram",Novitas Infotech,7-10 Yrs
9,Data Scientist,"Bangalore/Bengaluru, Noida, Gurgaon/Gurugram",Novitas Infotech,3-7 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [40]:
#lets import all libraries
import selenium                #Library that is used to work with selenium
from selenium import webdriver #importing webdriver module from selenium to open automated chrome window
import pandas as pd            #for creating DataFrame
from selenium.webdriver.common.by import By  #importing inbuilt class by
import warnings                #to ignore any sort of warning
warnings.filterwarnings("ignore")
import time

driver=webdriver.Chrome()

In [55]:
#Opening the naukri page in the automated driver page
driver.get("https://www.naukri.com/")

In [56]:
#Entering the designation
designation2=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation2.send_keys('Data Scientist')

In [57]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [58]:
time.sleep(10)  # time taken for load of page

In [59]:
#The location filter to be used is ‚ÄúDelhi/NCR‚Äù. 
location_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
location_filter.click()

In [61]:
#salary filter
salary_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
salary_filter.click()

In [62]:
JOB_title=[]
JOB_location=[]
COMPANY_name=[]
REQ_experience=[]

In [63]:
#scraping the job title from the page
title3_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title3_tags[0:10]:
    title=i.text
    JOB_title.append(title)
    
location3_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location3_tags[0:10]:
    loc=i.text
    JOB_location.append(loc)
    
company3_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company3_tags[0:10]:
    company3=i.text
    COMPANY_name.append(company3)
    
exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    exp3=i.text
    REQ_experience.append(exp3)

In [64]:
print(len(JOB_title),len(JOB_location),len(COMPANY_name),len(REQ_experience))

10 10 10 10

In [69]:
#creating the Dataframe

df3=pd.DataFrame({'Job title':JOB_title,'Location':JOB_location,'Compnay Name':COMPANY_name,'Experience':REQ_experience})
df3

,Job title,Location,Compnay Name,Experience
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist/ Senior Data Scientist/ Manager...,"Noida, Kolkata, Mumbai, Chandigarh, Hyderabad/...",Dreambig It Solutions India,1-6 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Data Scientist,Noida,Times Internet,3-8 Yrs
5,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
6,Intern,Gurgaon/Gurugram,Tower Research Capital,0-1 Yrs
7,Hiring For Data Scientist,Remote,Infogain,4-9 Yrs
8,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
9,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner,2-4 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [86]:
#lets import all libraries
import pandas as pd
import selenium      #Library that is used to work with selenium
from selenium import webdriver  #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.common.by import By  #importing inbuilt class by
import warnings
warnings.filterwarnings("ignore")
import time

driver=webdriver.Chrome()

Error getting version of chromedriver 115. Retrying with chromedriver 114 (attempt 1/5)

In [93]:
#Opening the flipkart page in automated driver page
driver.get("https://www.flipkart.com/")

In [94]:
#Entering the sunglasses 
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("Sunglasses")

search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [96]:
# scrapping the data in same lenth selecting the f-assured
fassured_search=driver.find_element(By.XPATH,'//div[@class="_3U-Vxu"]')
fassured_search.click()

In [97]:
#scrapping the data for the sunglasses
Sunglasses_Brand=[]
Product_Description=[]
Price=[]


start=0
end=4
for page in range(start,end):
    Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand_tags[0:100]:
        product=i.text
        Sunglasses_Brand.append(product)
        
    Product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Product_tags[0:100]:
        product1=i.text
        Product_Description.append(product1)
        
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price_tags[0:100]:
        price1=i.text
        Price.append(price1)

        
    try:
        next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div[2]/div[12]/div/div/nav/a[11]')
        next_button.click()
        time.sleep(8)
    except NoSuchElementException:
        break

In [98]:
print(len(Sunglasses_Brand),len(Product_Description),len(Price))

160 160 160

In [100]:
# creating the Dataframe by slicing the data to top 100 sunglasses
df4=pd.DataFrame({"Sunglasses Brands":Sunglasses_Brand,"Product Description":Product_Description,"Price":Price})

New_df4=df4.iloc[0:100]
New_df4

,Sunglasses Brands,Product Description,Price
0,IRUS,UV Protection Wayfarer Sunglasses (52),‚Çπ531
1,LOUIS KOUROS,"UV Protection, Riding Glasses, Mirrored Aviato...","‚Çπ1,343"
2,SDEEP,"UV Protection, Others Spectacle Sunglasses (Fr...",‚Çπ185
3,SRPM,UV Protection Wayfarer Sunglasses (50),‚Çπ194
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),‚Çπ675
...,...,...,...
95,Rich Club,"Polarized, UV Protection, Riding Glasses Wayfa...",‚Çπ365
96,ROZZETTA CRAFT,UV Protection Oval Sunglasses (Free Size),‚Çπ400
97,ROZIOR,UV Protection Wayfarer Sunglasses (40),‚Çπ349
98,ROYAL SON,"Polarized, UV Protection Round Sunglasses (50)",‚Çπ664
99,Sukart,"Riding Glasses, Others Oval, Wayfarer, Cat-eye...",‚Çπ292

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [129]:
#lets import all libraries
import pandas as pd
import selenium      #Library that is used to work with selenium
from selenium import webdriver  #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.common.by import By  #importing inbuilt class by
import warnings
warnings.filterwarnings("ignore")
import time

driver=webdriver.Chrome()

In [137]:
#Lets import the Website
driver.get("https://www.flipkart.com/apple-iphone-11-purple-64-gb/product-reviews/itm2b8d03427ddac?pid=MOBFWQ6BTFFJKGKE&lid=LSTMOBFWQ6BTFFJKGKEPGQVOJ&marketplace=FLIPKART")

In [138]:
Rating=[]
Review_Summary=[]
Full_review=[]

In [141]:
#scrapping the rating,review summary and full review of top 100
start=0
end=10
# Find all the rating tags on the current page
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        Rating.append(i.text)
        
# Scrape data from the current page and append it to the 'Review_Summary' list
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags:
        Review_Summary.append(i.text)
# Find all the full review tags on the current page
    Summary_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in Summary_tags:
        Full_review.append(i.text)
    try:        
        next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
        next_button.click()
        time.sleep(4)
    except nosuchelement:
        break

In [142]:
print(len(Rating),len(Review_Summary),len(Full_review))

100 100 100

In [143]:
#creating Dataframe for the top 100 reviews on iphone

df5=pd.DataFrame({'Rating':Rating,'Review Summary':Review_Summary,'Full Review':Full_review})
df5

,Rating,Review Summary,Full Review
0,5,Terrific,Very very good
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Brilliant,Excellent Phone.
3,5,Wonderful,This is amazing at all
4,5,Must buy!,It‚Äôs really awesome
...,...,...,...
95,5,Simply awesome,Buy it if you afford it üòú
96,5,Excellent,Best camera ever
97,5,Terrific purchase,Value for money üñ§üñ§
98,5,Simply awesome,Really satisfied with the Product I received.....
99,5,Awesome,I dreamt about this day from a long time.... G...

In [144]:
pd.set_option('display.max_rows', None)
print(df5)
pd.reset_option('display.max_rows')

   Rating         Review Summary  \
0       5               Terrific
1       5         Classy product
2       5              Brilliant
3       5              Wonderful
4       5              Must buy!
5       5              Just wow!
6       5       Perfect product!
7       5  Mind-blowing purchase
8       5              Fabulous!
9       5    Best in the market!
10      5      Worth every penny
11      5      Terrific purchase
12      5              Fabulous!
13      5          Great product
14      5              Must buy!
15      5         Simply awesome
16      5              Excellent
17      5      Terrific purchase
18      5         Simply awesome
19      5                Awesome
20      5               Terrific
21      5         Classy product
22      5              Brilliant
23      5              Wonderful
24      5              Must buy!
25      5              Just wow!
26      5       Perfect product!
27      5  Mind-blowing purchase
28      5              Fabulous!
29      5    Best in the market!
30      5      Worth every penny
31      5      Terrific purchase
32      5              Fabulous!
33      5          Great product
34      5              Must buy!
35      5         Simply awesome
36      5              Excellent
37      5      Terrific purchase
38      5         Simply awesome
39      5                Awesome
40      5               Terrific
41      5         Classy product
42      5              Brilliant
43      5              Wonderful
44      5              Must buy!
45      5              Just wow!
46      5       Perfect product!
47      5  Mind-blowing purchase
48      5              Fabulous!
49      5    Best in the market!
50      5      Worth every penny
51      5      Terrific purchase
52      5              Fabulous!
53      5          Great product
54      5              Must buy!
55      5         Simply awesome
56      5              Excellent
57      5      Terrific purchase
58      5         Simply awesome
59      5                Awesome
60      5               Terrific
61      5         Classy product
62      5              Brilliant
63      5              Wonderful
64      5              Must buy!
65      5              Just wow!
66      5       Perfect product!
67      5  Mind-blowing purchase
68      5              Fabulous!
69      5    Best in the market!
70      5      Worth every penny
71      5      Terrific purchase
72      5              Fabulous!
73      5          Great product
74      5              Must buy!
75      5         Simply awesome
76      5              Excellent
77      5      Terrific purchase
78      5         Simply awesome
79      5                Awesome
80      5               Terrific
81      5         Classy product
82      5              Brilliant
83      5              Wonderful
84      5              Must buy!
85      5              Just wow!
86      5       Perfect product!
87      5  Mind-blowing purchase
88      5              Fabulous!
89      5    Best in the market!
90      5      Worth every penny
91      5      Terrific purchase
92      5              Fabulous!
93      5          Great product
94      5              Must buy!
95      5         Simply awesome
96      5              Excellent
97      5      Terrific purchase
98      5         Simply awesome
99      5                Awesome

                                          Full Review
0                                      Very very good
1   Camera is awesome\nBest battery backup\nA perf...
2                                    Excellent Phone.
3                              This is amazing at all
4                                 It‚Äôs really awesome
5                                   Perfect Product!!
6                                          V Good all
7                                        Photos super
8                     Superüî• and good performance üëå‚ù§Ô∏è
9                                         Good Camera
10  Feeling awesome after getting the delivery of ...
11                                  Value for money üòç
12  It‚Äôs very good battery life and display and vi...
13                                     Purple is best
14  Go for iPhone 11 , if confused between iPhone ...
15                          Buy it if you afford it üòú
16                                   Best camera ever
17                                 Value for money üñ§üñ§
18  Really satisfied with the Product I received.....
19  I dreamt about this day from a long time.... G...
20                                     Very very good
21  Camera is awesome\nBest battery backup\nA perf...
22                                   Excellent Phone.
23                             This is amazing at all
24                                It‚Äôs really awesome
25                                  Perfect Product!!
26                                         V Good all
27                                       Photos super
28                    Superüî• and good performance üëå‚ù§Ô∏è
29                                        Good Camera
30  Feeling awesome after getting the delivery of ...
31                                  Value for money üòç
32  It‚Äôs very good battery life and display and vi...
33                                     Purple is best
34  Go for iPhone 11 , if confused between iPhone ...
35                          Buy it if you afford it üòú
36                                   Best camera ever
37                                 Value for money üñ§üñ§
38  Really satisfied with the Product I received.....
39  I dreamt about this day from a long time.... G...
40                                     Very very good
41  Camera is awesome\nBest battery backup\nA perf...
42                                   Excellent Phone.
43                             This is amazing at all
44                                It‚Äôs really awesome
45                                  Perfect Product!!
46                                         V Good all
47                                       Photos super
48                    Superüî• and good performance üëå‚ù§Ô∏è
49                                        Good Camera
50  Feeling awesome after getting the delivery of ...
51                                  Value for money üòç
52  It‚Äôs very good battery life and display and vi...
53                                     Purple is best
54  Go for iPhone 11 , if confused between iPhone ...
55                          Buy it if you afford it üòú
56                                   Best camera ever
57                                 Value for money üñ§üñ§
58  Really satisfied with the Product I received.....
59  I dreamt about this day from a long time.... G...
60                                     Very very good
61  Camera is awesome\nBest battery backup\nA perf...
62                                   Excellent Phone.
63                             This is amazing at all
64                                It‚Äôs really awesome
65                                  Perfect Product!!
66                                         V Good all
67                                       Photos super
68                    Superüî• and good performance üëå‚ù§Ô∏è
69                                        Good Camera
70  Feeling awesome after getting the delivery of ...
71                                  Value for money üòç
72  It‚Äôs very good battery life and display and vi...
73                                     Purple is best
74  Go for iPhone 11 , if confused between iPhone ...
75                          Buy it if you afford it üòú
76                                   Best camera ever
77                                 Value for money üñ§üñ§
78  Really satisfied with the Product I received.....
79  I dreamt about this day from a long time.... G...
80                                     Very very good
81  Camera is awesome\nBest battery backup\nA perf...
82                                   Excellent Phone.
83                             This is amazing at all
84                                It‚Äôs really awesome
85                                  Perfect Product!!
86                                         V Good all
87                                       Photos super
88                    Superüî• and good performance üëå‚ù§Ô∏è
89                                        Good Camera
90  Feeling awesome after getting the delivery of ...
91                                  Value for money üòç
92  It‚Äôs very good battery life and display and vi...
93                                     Purple is best
94  Go for iPhone 11 , if confused between iPhone ...
95                          Buy it if you afford it üòú
96                                   Best camera ever
97                                 Value for money üñ§üñ§
98  Really satisfied with the Product I received.....
99  I dreamt about this day from a long time.... G...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for ‚Äúsneakers‚Äù in the
search field.

In [63]:
#lets import all libraries
import pandas as pd
import selenium      #Library that is used to work with selenium
from selenium import webdriver  #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.common.by import By  #importing inbuilt class by
import warnings
warnings.filterwarnings("ignore")
import time

driver=webdriver.Chrome()

In [75]:
#Opening the flipkart page in automated driver page
driver.get("https://www.flipkart.com/")

In [76]:
#searching for the sneakeers
brand=driver.find_element(By.CLASS_NAME,"_3704LK")
brand.send_keys("Sneakers")

search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [77]:
#for proper length of the DataFrame select one filter parameter so selecting the f-assured filter for same length
filter_tags=driver.find_element(By.CLASS_NAME,'_3U-Vxu')
filter_tags.click()

In [78]:
#scrapping the Brand,Product description and price of top 100 Sneakers
Brand=[]
Product_Description=[]
Price=[] 

start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        Brand.append(i.text)
        
    Product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Product_tags:
        Product_Description.append(i.text)
        
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price_tags:
        Price.append(i.text)
        
    try:
        next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
        next_button.click()
        time.sleep(10)
    except NoSuchElement:
        break

In [79]:
print(len(Brand),len(Product_Description),len(Price))

120 120 120

In [83]:
#Creating the Dataframe of top 100 sneakers by silcing the data
df6=pd.DataFrame({"Brands":Brand,"Product Description":Product_Description,"Price":Price})

New_df6=df6.iloc[0:100]
New_df6

        Brands                                Product Description Price
0       Airson  Junior Zero1 Sports shoes for Men | Gym Traini...  ‚Çπ989
1        Sparx  Stylish and Comfirtable Shoes For Mens Sneaker...  ‚Çπ899
2         aadi  Synthetic Leather |Lightweight|Comfort|Summer|...  ‚Çπ387
3       BRUTON               Modern Trendy Shoes Sneakers For Men  ‚Çπ299
4     Magnolia                                   Sneakers For Men  ‚Çπ299
..         ...                                                ...   ...
95    Nobelite                                   Sneakers For Men  ‚Çπ469
96  HIGHLANDER                                   Sneakers For Men  ‚Çπ995
97    RapidBox                                   Sneakers For Men  ‚Çπ695
98  Free Kicks  Combo Of 2 Leather Shoes FK-310 and FK-Alpha P...  ‚Çπ999
99       asian  SM-162 Black Walking ,Training,Sneakers,Loafer...  ‚Çπ499

[100 rows x 3 columns]

# Q7: Go to webpage https://www.amazon.in/ Enter ‚ÄúLaptop‚Äù in the search field and then click the search icon. Then
set CPU Type filter to ‚ÄúIntel Core i7‚Äù as shown in the below image:

In [3]:
#lets import all libraries
import pandas as pd
import selenium      #Library that is used to work with selenium
from selenium import webdriver  #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.common.by import By  #importing inbuilt class by
import warnings
warnings.filterwarnings("ignore")
import time

driver=webdriver.Chrome()

In [4]:
##Opening the amazon page in automated driver page
driver.get("https://www.amazon.in/")

In [5]:
time.sleep(10)

In [6]:
#searching for the laptop
lap=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
lap.send_keys("Laptop")

search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [7]:
#The CPU filter
CPU=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[13]/li/span/a/span")
CPU.click()

In [8]:
import re
Title=[]
Ratings=[]
Price=[]

#Scrapping the title of laptop
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    LP=i.text
    Title.append(LP)
    
#Scrapping the Ratings of Laptop    
rate_tags=driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-star-small a-star-small-4 aok-align-bottom"]')
for i in rate_tags[0:10]:
    rate=i.text
    Ratings.append(rate)

#scapping the Price of Laptops
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    Price.append(price)

In [9]:
#printing the length of dataset
print(len(Title),len(Ratings),len(Price))

10 10 10

In [10]:
#Creating the Dataframe from dataset by importing pandas
df7=pd.DataFrame({'Title of Laptops':Title,'Ratings':Ratings,'Price':Price})
df7

                                    Title of Laptops Ratings     Price
0  Dell Inspiron 5430 13th Gen Laptop, Intel i7-1...            86,420
1  HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ra...            79,990
2  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...            62,990
3  Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...            98,500
4  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...            71,490
5  Acer Nitro 5 AN515-58 Gaming Laptop 12th Gen I...          1,04,990
6  Dell Vostro 5630 13th Gen Laptop,Intel i7-1355...            89,990
7  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...            96,490
8  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...            80,990
9  Dell Inspiron 5630 13th Gen Laptop, Intel Core...            89,880

In [41]:
print(df7)

                                    Title of Laptops Ratings     Price
0                        Dell Inspiron 5430 13th Gen    None    86,420
1  , Intel i7-1360P/16GB/1TB SSD/14.0" (35.56CMs)...    None    93,990
2  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...    None  1,44,990
3  (16GB RAM/512GB SSD/Windows 11 Home/MS Office ...    None    79,990
4  ASUS ROG Zephyrus G16, 16-inch (40.64 cms) FHD...    None    80,990
5                                                       None    98,500
6  HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ra...    None    62,990
7  /Intel Iris Xe Graphics/Backlit Keyboard/Alexa...    None  1,04,990
8                               Acer Aspire 5 Gaming    None    89,990
9  Intel Core i7 13th Gen (8 GB/512 GB SSD/Window...    None    80,990

# Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

In [63]:
#lets import all libraries
import pandas as pd
import selenium                              #Library that is used to work with selenium
from selenium import webdriver               #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.common.by import By  #importing inbuilt class by
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import NoSuchElementException #for handling the exceptions while scrapping


driver=webdriver.Chrome()

In [64]:
#loading the website page
driver.get("https://www.azquotes.com/")

In [66]:
time.sleep(8)

In [67]:
#clicking on the top Quotes
Top_Quotes=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
Top_Quotes.click()

In [68]:
Quotes=[]
Authors=[]
Type_of_Quotes=[]

start=0
end=10
for page in range(start,end):
    quotes_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes_tags:
        Quotes.append(i.text)
    
#scrapping the Authors
    author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author_tags:
        Authors.append(i.text)
    
#scrapping the Types of Quotes
    Type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in Type_tags:
        Type_of_Quotes.append(i.text)
    
    try:
        next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
        next_button.click()
    except NoSuchElementException:
        break

In [69]:
print(len(Quotes),len(Authors),len(Type_of_Quotes))

1000 1000 1000

In [70]:
df8=pd.DataFrame({"Quotes":Quotes,"Authors":Authors,"Type_of_Quotes":Type_of_Quotes})
df8

,Quotes,Authors,Type_of_Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.

In [101]:
#lets import all libraries
import pandas as pd
import selenium                              #Library that is used to work with selenium
from selenium import webdriver               #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.common.by import By  #importing inbuilt class by
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import NoSuchElementException #for handling the exceptions while scrapping
time.sleep(5)

driver=webdriver.Chrome()

In [124]:
#loading the website page
driver.get("https://www.jagranjosh.com/")

In [125]:
#clicking on the GK
gk=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]/a')
gk.click()

In [127]:
#Clicking on the list of Prime Ministers
prime_minister=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
prime_minister.click()

In [130]:
time.sleep(4)

In [141]:
Prime_Ministers=[]

prime_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]')
Prime_Ministers.append(prime_tags)

In [142]:
len(Prime_Ministers)

1

In [143]:
df9=pd.DataFrame({"Prime Ministers":Prime_Ministers})
df9
print(df9)

                                     Prime Ministers
0  [<selenium.webdriver.remote.webelement.WebElem...

# Unable to solve this question 9 as could not scrap the data also raised the ticket for this question.

# Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/

In [22]:
#lets import all libraries
import pandas as pd
import selenium                              #Library that is used to work with selenium
from selenium import webdriver               #importing webdriver module from selenium to open automated chrome window
from selenium.webdriver.common.by import By  #importing inbuilt class by
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import NoSuchElementException #for handling the exceptions while scrapping
time.sleep(10)

driver=webdriver.Chrome()

In [37]:
#Loading the website page
driver.get("https://www.motor1.com/")

In [38]:
#searching for the cars
time.sleep(10)
top_cars=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
top_cars.send_keys("50 most expensive cars")

search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

In [39]:
#clicking on the page link for 50 most expensive cars
fifty_car=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
fifty_car.click()

In [44]:
CAR=[]

#Scrapping the data for 50 most expensive cars
Car_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in Car_tags[0:50]:
    car=i.text
    CAR.append(car)

In [46]:
print(len(CAR))

50

In [48]:
#Creating the DataFrame 

df10=pd.DataFrame({"50 most expensive cars":CAR})
df10

             50 most expensive cars
0                     De Tomaso P72
1                 Ferrari LaFerrari
2                     Pagani Huayra
3                      McLaren Elva
4                       Czinger 21C
5                     Ferrari Monza
6                Gordon Murray T.33
7                 Koenigsegg Gemera
8                       Zenvo TSR-S
9                Hennessey Venom F5
10                  Bentley Bacalar
11    Hispano Suiza Carmen Boulogne
12           Bentley Mulliner Batur
13                     Deus Vayanne
14                      SSC Tuatara
15                      Lotus Evija
16              Aston Martin Vulcan
17                       Delage D12
18                McLaren Speedtail
19                     Rimac Nevera
20                    Pagani Utopia
21             Pininfarina Battista
22                Ferrari FXX K Evo
23               Gordon Murray T.50
24             Lamborghini Countach
25         Mercedes-AMG Project One
26              Aston Martin Victor
27      Hennessey Venom F5 Roadster
28                 Koenigsegg Jesko
29            Aston Martin Valkyrie
30        W Motors Lykan Hypersport
31                    McLaren Solus
32        Pagani Huayra Roadster BC
33         Bugatti Chiron Pur Sport
34                 Lamborghini Sian
35                 Koenigsegg CC850
36  Bugatti Chiron Super Sport 300+
37               Lamborghini Veneno
38                   Bugatti Bolide
39                  Bugatti Mistral
40              Pagani Huayra Imola
41                     Bugatti Divo
42              SP Automotive Chaos
43                 Pagani Codalunga
44         Mercedes-Maybach Exelero
45               Bugatti Centodieci
46          Bugatti Chiron Profil√©e
47             Rolls-Royce Sweptail
48         Bugatti La Voiture Noire
49           Rolls-Royce Boat Tail*